.features{
    background: #1C2534;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.featuresContainer{
    
    margin-left: 15vw;
    margin-right: 15vw;
}

.featuresContainer > h1 {
    padding-top: 5vh;
    font-size: 3rem;
}

.featuresContainer >p {
    font-family:sans-serif;
    font-weight: 100;
    padding-top: 20px;
    font-size: 18px;
    width: 35vw;

}
.featureImg{
    margin-left: 3vw;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 20px;
}

.featureImg img {
 margin-top: 5vh;
 margin-bottom: 5vh;
 border-radius: 20px;
}

.comma{
    height:"80px" ;margin-left:"2vh";display:"block" ;margin-left:"0";
    padding-right: 0.9vh;
}

.customer{
    background: #253041;
    padding: 30px;
    width: 100%;
    height: auto;
    max-width: 420px;
    height: auto;
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 1vh;
}


.testimonial{
    margin-left: 3vw;
    margin-top: 2vw;
    padding-bottom: 0vh;
    height: auto;
    display: flex;
    flex-flow: row;
    gap: 2vw;
    
}

.testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-style {
    max-width: 380px;
  }
  
  .f1 {
    height: 300px;
    top: -16px;
    position: relative;
  }
  
  .f2 {
    height: 420px;
  }
  
  .f3 {
    height: 300px;
    top: -16px;
    position: relative;
    margin: 0;
  }
  
  .f4 {
    height: 420px;
  }

  

@media (max-width: 1844px){
    .f4{
      display: none;
      
    }
}

@media(max-width:1273px){
    .featureImg{
        margin-left: -5vw;
    }
}

@media(max-width:1048px){
    .featureImg{
        margin-left: -10vw;
    }
}
@media(max-width:997px){
    .featureImg{
        margin-right: -10vw;
    }
}

@media(max-width:962px){
    .featureImg{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 1391px){
    .f4{
      display: none;
      
    }

    .featuresContainer h1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .featuresContainer >p {
        width: 70vw;
        font-size: 18px;
        line-height: 28px;

    }
  }
  
  
  @media (max-width: 726px){
    .comma{
        height: 30px;
    }
    .featureImg .f3{
        margin-bottom: 0;
    }
    .f1{
        position: relative;
        top: -12px;
        display: block;
        height: 140px;
        width: 100%;
        max-width: 135px;
        background-color: red;
    }

    .f2{
        position: relative;
        height: 200px;
        max-width: 135px;
        width: 100%;
    }
    .f3{
        height: 155px;
        max-width: 135px;
        width: 100%;
    }
  }

  
  .map{
    margin-top: 1vh;
    width: 100%;
    display:flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
  }

  .customer{
    border-radius: 20px;
  }
  
  .hospital-img{
    height: 30vh;
    border-radius: 3%;
    display: none;
  }