.map{
    padding-top: 2vh;
    width: 70vw;
    display: flex;
    justify-content: space-around;
}
.location{
    display: flex;
    justify-content: space-between;
    margin-right: 10vw;
    width: 70vw;
    gap:2vw    
}

.address-text{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.4em;
    max-width:400px ;
    max-height:30vh;    
}

.title-address{
    font-size: 2rem;
    color: rgb(147, 110, 254);
    margin-bottom: 2vh;
}
.address-text{
    padding-left: 0vh;
}

@media (max-width: 600px){
    
    .address-text{
        font-size: 1.2rem;
        line-height: normal;
        margin-top: 0vh;
        padding-top: 0;
        margin-bottom: 2vw;
    }
    .location{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    .title-address{
        display: none;
    }
    
  }